<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body class="bg-light">
    <div class="container mt-5">
        <h1 id="judul" class="text-primary text-center mb-4">Edit Item</h1>


        <form class="border p-4 bg-white shadow rounded">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Item</label>
                <input type="text" id="nama" class="form-control" value="<%= barang.nama %>" required>
            </div>
            <div class="mb-3">
                <label for="stok" class="form-label">Stok Item</label>
                <input type="number" id="stok" class="form-control" min="0" value="<%= barang.stok %>"
                    required>
            </div>
            <div class="mb-3">
                <label for="harga" class="form-label">Harga Item</label>
                <input type="number" id="harga" class="form-control" min="0" value="<%= barang.harga %>" required>
            </div>
            <div class="mb-3">
                <label for="keterangan" class="form-label">Keterangan</label>
                <input type="text" id="keterangan" class="form-control" min="0" value="<%= barang.keterangan %>" required>
            </div>
            <input type="hidden" id="id" class="form-control" value="<%= barang.id %>" required>
            <div class="d-flex justify-content-between">
                <button type="submit" id="editData" class="btn btn-primary">Simpan Data Item</button>
                <button type="button" id="batal" class="btn btn-secondary" onclick="history.back()">Kembali</button>
            </div>
        </form>
    </div>


    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let itemId = parseInt(document.getElementById("id").value);

        async function editData() {
            event.preventDefault();
            let nama = document.getElementById("nama").value;
            let stok = parseInt(document.getElementById("stok").value);
            let harga = parseInt(document.getElementById("harga").value);
            let keterangan = document.getElementById("keterangan").value;


            let result = await fetch(`/api/items/${itemId}`, {
                method: "PUT",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify({
                    nama,
                    stok,
                    harga,
                    keterangan
                })
            });


            if (!result.ok) {
                return new Error("Failed to update data");
            } else {
                let response = await result.json();
                if (response.response != null) {
                    alert("Data item berhasil diperbaharui");
                    window.location.href = "/";
                } else {
                    alert("Gagal memperbaharui data item");
                }
            }
        }


        


        let edit = document.getElementById("editData");
        edit.addEventListener('click', editData);
    </script>
</body>


</html>